@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    text-align: center;
    margin-top: 15%;
}

header h1 {
    font-size: 5rem;
    margin: 0;
}

header h4 {
    font-size: 2rem;
    margin: 0;
}

header h6 {
    font-size: 1rem;
    margin: 0;
}

.input-area {
    text-align: center;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#url-input{
    margin: 10px 0px;
    border-radius: 4px;
}

#output{
    text-align: center;
}